@font-face {
    font-family: 'From the Woods';
    src: url('FromtheWoods-Regular.woff2') format('woff2'),
        url('FromtheWoods-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    text-align: center;
    font-family: "From the Woods";
    font-size: 100px;
}

body {
    margin: 0;
    background-image: url("bg.jpg");
    background-repeat: repeat-x
    ;
}

h1,
h3
  {
    color: #FFFFFF;
}


.desctription p {
    color: #D3D3D3;
    
}

.description {
    background-color: #4F6A13;
    padding: 10px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    overflow: none;
    text-align: center;

}


h3 {
    text-align: center;
}

.paragraph1 {
    color: #FFFFFF;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;

}

.description p {
    color: #D3D3D3;
    padding: 20px;
}


.circle1 {
    position: relative;
    left: 425px;
    top: 150px
}

.circle2 {
    position: relative;
    left: 750px;
}

.circle3 {
    position: relative;
    left: 425px;
    bottom: 120px;
}

footer {
    background-color: #2D4823;
    color: #D3D3D3;
    height: 300px;
}